version: '3.8'

services:

  mysql:
    image: mysql:8.0
    container_name: restaurante_mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: fiap_restaurante
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-net

  api:
    build: .
    container_name: restaurante_api
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/fiap_restaurante?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

